<form
    #employeeForm="ngForm"
    ngNativeValidate
    (ngSubmit)="saveEmployee(employee)"
>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Create Employee</h3>
        </div>
        <div class="panel-body">
            <div
                ngModelGroup="passwordGroup"
                #passwordGroup="ngModelGroup"
                appConfirmEqualValidator
                [class.has-error]="passwordGroup.errors?.notEqual
            && !confirmPassword.errors?.required"
            >
                <div
                    class="form-group"
                    [class.has-error]="password.touched && password.invalid"
                >
                    <label
                        for="password"
                        class="control-label"
                    >
                        Password
                    </label>
                    <input
                        id="password"
                        required
                        type="text"
                        class="form-control"
                        name="password"
                        [(ngModel)]="employee.password"
                        #password="ngModel"
                    >
                    <span
                        class="help-block"
                        *ngIf="password.touched && password.errors?.required"
                    >
                        Password is required
                    </span>
                </div>

                <div
                    class="form-group"
                    [class.has-error]="confirmPassword.touched && confirmPassword.invalid"
                >
                    <label
                        for="confirmPassword"
                        class="control-label"
                    >
                        Confirm Password
                    </label>
                    <input
                        name="confirmPassword"
                        required
                        id="confirmPassword"
                        type="text"
                        class="form-control"
                        [(ngModel)]="employee.confirmPassword"
                        #confirmPassword="ngModel"
                    >
                    <span
                        class="help-block"
                        *ngIf="confirmPassword.touched && confirmPassword.errors?.required"
                    >
                        Confirm Password is required
                    </span>
                    <span
                        class="help-block"
                        *ngIf="confirmPassword.touched && confirmPassword.errors?.notEqual &&
                      !confirmPassword.errors?.required"
                    >
                        Password and Confirm Password does not match
                    </span>
                </div>
            </div>
            <div
                class="form-group"
                [class.has-error]="name.invalid && name.touched"
                [class.has-success]="name.valid"
            >
                <label
                    for="name"
                    class="control-label"
                >
                    Full Name
                </label>
                <input
                    id="name"
                    required
                    type="text"
                    class="form-control"
                    name="name"
                    [(ngModel)]="employee.name"
                    #name="ngModel"
                >
                <span
                    class="help-block"
                    *ngIf="name.invalid"
                >
                    Full Name is required
                </span>
            </div>

            <div
                class="form-group"
                [class.has-error]="email.invalid && email.touched"
            >
                <label
                    for="email"
                    class="control-label"
                >
                    Email
                </label>
                <input
                    id="email"
                    [required]="contactPreference.value=='email'"
                    email
                    type="email"
                    class="form-control"
                    name="email"
                    [(ngModel)]="employee.email"
                    #email="ngModel"
                >
                <span
                    class="help-block"
                    *ngIf="email.errors?.required && email.touched"
                >
                    Email is required
                </span>
                <span
                    class="help-block"
                    *ngIf="email.errors?.email && email.touched"
                >
                    Email is Invalid
                </span>
            </div>

            <div
                class="form-group"
                [class.has-error]="phoneNumber.invalid"
            >
                <label
                    for="phoneNumber"
                    class="control-label"
                >
                    Phone Number
                </label>
                <input
                    id="phoneNumber"
                    [required]="contactPreference.value=='phone'"
                    type="text"
                    class="form-control"
                    name="phoneNumber"
                    [(ngModel)]="employee.phoneNumber"
                    #phoneNumber="ngModel"
                >
                <span
                    class="help-block"
                    *ngIf="phoneNumber.errors?.required"
                >
                    Phone Number is required
                </span>
            </div>

            <div
                class="form-group"
                [class.has-error]="contactPreference.invalid"
            >
                <label class="control-label">Contact Preference</label>
                <div class="form-control">
                    <label class="radio-inline control-label">
                        <input
                            type="radio"
                            name="contactPreference"
                            value="email"
                            [(ngModel)]="employee.contactPreference"
                            required
                            #contactPreference="ngModel"
                        >
                        Email
                    </label>
                    <label class="radio-inline control-label">
                        <input
                            type="radio"
                            name="contactPreference"
                            value="phone"
                            [(ngModel)]="employee.contactPreference"
                            required
                            #contactPreference="ngModel"
                        >
                        Phone
                    </label>
                </div>
                <span
                    class="help-block"
                    *ngIf="contactPreference.invalid"
                >
                    contactPreference is required
                </span>
                <!-- Contact Preference Selected Value : {{ contactPreference.value }} -->
            </div>

            <div
                class="form-group"
                [class.has-error]="gender.invalid"
            >
                <label>Gender</label>
                <div class="form-control">
                    <label class="radio-inline control-label">
                        <input
                            type="radio"
                            name="gender"
                            value="male"
                            [(ngModel)]="employee.gender"
                            required
                            #gender="ngModel"
                        >
                        Male
                    </label>
                    <label class="radio-inline control-label">
                        <input
                            type="radio"
                            name="gender"
                            value="female"
                            [(ngModel)]="employee.gender"
                            required
                            #gender="ngModel"
                        >
                        Female
                    </label>
                </div>
                <span
                    class="help-block"
                    *ngIf="gender.invalid"
                >
                    Gender is required
                </span>
            </div>
            <div
                class="form-group"
                [class.has-error]="isActive.invalid && isActive.touched"
            >
                <div class="form-control">
                    <label class="checkbox-inline control-label">
                        <input
                            type="checkbox"
                            name="isActive"
                            [(ngModel)]="employee.isActive"
                            [required]="employee.isActive==null"
                            #isActive="ngModel"
                        >
                        Is Active
                    </label>
                </div>
                <span
                    class="help-block"
                    *ngIf="isActive.errors?.required && isActive.touched"
                >
                    Is Active is required
                </span>
            </div>

            <div
                class="form-group"
                [class.has-error]="department.errors?.defaultSelected && department.touched"
            >
                <label
                    for="department"
                    class="control-label"
                >
                    Department
                </label>
                <select
                    id="department"
                    name="department"
                    [(ngModel)]="employee.department"
                    class="form-control"
                    required
                    #department="ngModel"
                    appSelectValidator
                >
                    <option value="-1">Select Department</option>
                    <option
                        *ngFor="let dept of departments"
                        [ngValue]="dept"
                    >
                        {{dept.name}}
                    </option>

                </select>
                <span
                    class="help-block"
                    *ngIf="department.touched && department.errors?.defaultSelected"
                >
                    > department is required
                </span>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label
                        for="dateOfBirth"
                        class="control-label"
                    >
                        Date of Birth
                    </label>
                    <input
                        id="dateOfBirth"
                        name="dateOfBirth"
                        [(ngModel)]="employee.dateOfBirth"
                        class="form-control"
                        type="text"
                        bsDatepicker
                        [bsConfig]="datePickerConfig"
                    >
                </div>
            </div>
            <div class="form-group">
                <label
                    for="picPath"
                    class="control-label"
                >
                    Picture Path
                </label>
                <input
                    id="picPath"
                    type="text"
                    class="form-control"
                    name="employee.picPath"
                    [(ngModel)]="picPath"
                >
            </div>
            <div class="form-group">
                <img
                    [src]="picPath"
                    height="200"
                    width="200"
                    *ngIf="previewPic"
                >
            </div>
            <div class="form-group">
                <button
                    (click)="togglePicPreview()"
                    class="btn btn-primary"
                >
                    {{previewPic ? "Hide " : "Show " }} Preview
                </button>
            </div>
        </div>

        <div class="panel-footer">
            <button
                class="btn btn-primary"
                type="submit"
            >
                Save
            </button>
        </div>
    </div>
</form>
Angular Generated Form Model : {{employeeForm.value | json}}
<br>
Our Employee Model : {{ employee | json}}
